.splitCells {
    display: flex;
    justify-content: space-between;
    left: 0;
    right: 0;
}

.splitTextBox{
    width:100%;
    margin: 10px;
}


.textBox {
    margin: 10px;
}

.tallTextBox {
    margin: 10px;
    min-height: 22vh;
    vertical-align: text-top;
    padding-top: 10px;
    padding-left: 10px;
}

.leftBar {
    display: grid;
    position: fixed;
    justify-content: space-between;
    width: 15vw;
    left: 7vh;
    top: 7vh;
    bottom: 80px;
}


.textDisplay {
    height: 5vh;
    border-radius: 24px;
    border-style: solid;
    border-color: #707070;
    padding-left: 10px;
    padding-top: 10px;
    color: #1c1c1c;
    border-width: 2px;
}

input {
    text-align: justify;
    vertical-align: text-top;
}

